{{!-- Weather Widget Component --}}
<div class="weather-widget">
  <div class="widget-content">
    <h4 class="widget-title">LA Weather</h4>
    <div class="weather-display">
      <span class="temp">72°F</span>
      <span class="condition">Sunny</span>
    </div>
  </div>
</div>